# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs e arquivos temporários
# =========================
*.log
*.tmp
*.temp
*.swp
*.pyc

# =========================
# VS Code
# =========================
.vscode/

# =========================
# IntelliJ / Android Studio
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# =========================
# Flutter dentro da pasta FrontEnd-Mobile
# =========================
FrontEnd-Mobile/.dart_tool/
FrontEnd-Mobile/.flutter-plugins
FrontEnd-Mobile/.flutter-plugins-dependencies
FrontEnd-Mobile/.idea/
FrontEnd-Mobile/build/

# =========================
# Android
# =========================
**/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release

# =========================
# iOS
# =========================
**/ios/Flutter/.last_build_id
**/ios/Pods/

# =========================
# MacOS / Linux / Windows
# =========================
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# Cobertura e documentação
# =========================
coverage/
**/doc/api/

# =========================
# Obfuscação Flutter
# =========================
app.*.symbols
app.*.map.json